html, body, #root {
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}


.MainContent {
  display: flex;
  position: relative;
}

.sideBar {
  max-width: 50%;
  min-width: 250px;
  width: 30%;
  height: 100vh;
  resize: horizontal;
  overflow: auto;
  z-index: 1;
  position: absolute;
  background-color: #EBE8D7;
}

.map {
  width: 100%;
  background-color: white;
  position:absolute;
}