.form-container {
    width: 400px;
    background-color: #9D8446;
    border-radius: 10px;
    padding: 10px;
}

.Purd-Head {
    text-align: center;
    font-size: 30px;
}

.form {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.login-label {
    text-align: center;
    font-size: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.button-container {
    display: flex;

}

.button {
    width: 100%;
    border-radius: 7px;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 15px;
}

.other-links {
    display: flex;
    flex-basis: 50%;
}