.modifyAcnt .form-container {
    width: 400px;
    background-color: #9D8446;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modifyAcnt input {
    font-size: 17px;
}

.modifyAcnt .form {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.modifyAcnt .success {
    background-color: lightgreen;
    white-space: pre-wrap;
    text-align: center;
    border-radius: 7px;
    color: black;
}

.modifyAcnt .button-container {
    display: flex;
    column-gap: 10px
}

.modifyAcnt .button {
    cursor: pointer;
    width: 100%;
    border-radius: 7px;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 15px;
    transition-duration: 250ms;
}

.modifyAcnt .button:hover {
    background-color: #222;
    transition-duration: 250ms;
}

.modifyAcnt .afterButton {
    cursor: pointer;
    width: 100%;
    border-radius: 7px;
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 15px;
    transition-duration: 250ms;
}

.modifyAcnt .afterButton:hover {
    background-color: lightgray;
    transition-duration: 250ms;
}

.modifyAcnt .delete {
    justify-content: center;
    display: flex;
}

.modifyAcnt .deleteBtn {
    cursor: pointer;
    background-color: red;
    border-radius: 7px;
    transition-duration: 250ms;
    font-size: 20px;
}

.modifyAcnt .deleteBtn:hover {
    background-color: #A40101;
    border-radius: 7px;
    transition-duration: 250ms;
}

.modifyAcnt .error {
    background-color: #f0162f;
    white-space: pre-wrap;
    border-radius: 7px;
    text-align: center;
    padding: 10px 0 12px 0;
}

.modifyAcnt .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}



