.sideBarContainer {
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.sideBarContainer .listOfItems {
    margin-bottom: 10px;
    flex-grow: 1;
    overflow-y: auto;
    min-height: 50vh;
}

.sideBarContainer .listItemContainer {
    text-align: left;
    margin: 5px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: white;
    padding: 0 10px 10px 10px;
    cursor: pointer;
    transition-duration: 250ms;
}

.sideBarContainer .listItemContainer:hover {
    background-color: #e7e7e7;
    transition-duration: 250ms;
}

.displaySidebarItemContainer {
    display: flex;
}

.sideBarContainer .listItemInfo { 
    display: block;
}

.sideBarContainer .favoriteStar {
    margin-left: auto;
    margin-right: 30px;
    align-self: center;
}

.sideBarContainer .star {
    transform: translate(0, -27px);
    visibility: hidden;
    font-size: 50px;
    cursor: pointer;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.sideBarContainer .star:hover:before {
    color: #fad982;
    transition-duration: 150ms;
}

.sideBarContainer .star:before {
    content: "\2605";
    color: white;
    visibility: visible;
    transition-duration: 150ms;
}

.sideBarContainer .star:checked:before {
    content: "\2605";
    color: #F4B30A;
}

.sideBarContainer .scheduleContainer {
    margin-top: 10px;
}

.sideBarContainer .scheduleBtn {
    cursor: pointer;
    background-color: #ffd874;
    border-radius: 5px;
    padding: 5px;
    transition: .2s;
}

.sideBarContainer .scheduleBtn:hover {
    background-color: #dab967;
    transition: .2s;
}

.sideBarContainer .searchBar {
    display: flex;
    height: 50px;
    margin-bottom: 5px;
}

.sideBarContainer .searchBar input {
    border: 0;
    outline: none;
    font-size: 20px;
    padding: 15px;
    width: 100%;
}

.sideBarContainer .searchIcon {
    padding: 10px;
    background-color: white;
    width: auto;
    height: auto;
    cursor: pointer;
}

.sideBarContainer .filterAdvanced {
    display: flex;
    margin-bottom: 10px;
}

/* Classes for popup window when pressing settings button */
.deleteparent .filterAdvanced .button {
	font-size: 1em;
	padding: 15px 35px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #403e3d;
	border-radius: 50px;
}

.sideBarContainer .popup_overlay {
    position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
    z-index: 1;
}

.sideBarContainer .popup_overlay:target {
	visibility: visible;
	opacity: 1;
}

.sideBarContainer .popup_wrapper {
    margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}

.sideBarContainer .popup_wrapper .close {
    position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.sideBarContainer .popup_wrapper .close2 {
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.sideBarContainer .popup_wrapper .content {
	max-height: 30%;
	overflow: auto;
}

.sideBarContainer .popup_container {
    border-radius: 5px;
	background-color: #e7e7e7;
	padding: 20px 0;
}

.sideBarContainer .popup_box {
    text-align: center;
}

.sideBarContainer .popup_box .text {
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgba(50, 50, 50, 0.8);
}


.sideBarContainer .popup_box .sortBy {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.sideBarContainer .loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBarContainer .loader {
    z-index: 1;
    border: 5px solid #f3f3f3;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.sideBarContainer .showRoute {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.sideBarContainer .showRoute:hover,
.sideBarContainer .showRoute:focus {
  background-color: #07c;
}

.sideBarContainer .showRoute:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.sideBarContainer .showRoute:active {
  background-color: #0064bd;
  box-shadow: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

