html {
    /* background-color: lightyellow; */
    scroll-behavior: smooth;
}

.tutorialPageContainer ul {
    list-style-type: disc;
}

.tutorialPageContainer {
    padding: 20px 10% 0 10%;
    /*Top Right Bottom Left*/
}

.tutorialPageContainer .returnHome, 
.tutorialPageContainer .returnHome:link, 
.tutorialPageContainer .returnHome:visited, 
.tutorialPageContainer .returnHome:hover, 
.tutorialPageContainer .returnHome:active {
    text-decoration: none; 
    color: black;
    font-size: 20px;
}

.tutorialPageContainer .mainContentContainer {
    margin-top: 50px;
}

.tutorialPageContainer .contentsContainer {
    background-color: lightgray;
    padding: 0 10px 5px 10px;
}

.tutorialPageContainer .contentsList {
    font-size: 20px
}

.tutorialPageContainer .contentsList a {
    text-decoration: none;
}

.tutorialPageContainer .contentsList a:hover{
    text-decoration: underline;
}

.tutorialPageContainer a:visited {
    color: blue;
}

.tutorialPageContainer .subSection {
    margin-left: 10px;
}

.tutorialPageContainer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tutorialPageContainer .signupImg, 
.tutorialPageContainer .loginImg {
    width: 500px;
}

.tutorialPageContainer .modifyImages,
.tutorialPageContainer .mapImages {
    text-align: center;
    
}

.tutorialPageContainer .modifyImages img,
.tutorialPageContainer .mapImages img {
    width: auto;
    display: inline-block;
    height: 300px;
    margin: 10px;
}

.tutorialPageContainer .unimplemented {
    width: 500px;
}
